/* cSpell:disable */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: IBMPlexSans-Regular;
  src:
    url('../assets/fonts/IBMPlexSans-Regular.ttf') format('truetype'),
    url('../assets/fonts/IBMPlexSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: IBMPlexSans-SemiBold;
  src:
    url('../assets/fonts/IBMPlexSans-SemiBold.ttf') format('truetype'),
    url('../assets/fonts/IBMPlexSans-SemiBold.ttf') format('truetype');
}
