<main class="main">
  <div class="content border-r border border-accent m-2 p-2">
    <h1 class="font-semibold text-7xl text-muted">Hello, {{ title }}</h1>
    <p class="text-lg text-secondary">Congratulations! Your app is running. 🎉</p>
  </div>

  <div class="flex flex-wrap bg-slate-500 p-5">
    <app-button type="accent" size="sm" iconState="prev" >Prev question</app-button>
    <app-button type="accent" size="sm" iconState="next" >Next question</app-button>
    <app-button type="ghost" size="sm">Back on main page</app-button>
    <app-button [disabled]="true" iconState="next" type="accent" size="md">Back on main page</app-button>
  </div>

</main>

<router-outlet />