.nav-item-animation:before {
  @apply rounded-lg;

  background-color: theme('colors.muted');
  bottom: -3px;
  content: '';
  height: 2px;
  left: 0;
  position: absolute;
  transform-origin: right;
  transition: width 0.6s ease-in-out;
  width: 0;
}

.nav-item-animation:hover:before {
  width: 100%;
}

.nav-item-animation:after {
  background-color: transparent;
  bottom: 0;
  content: '';
  height: 2px;
  position: absolute;
  right: 100%;
  transform-origin: right;
  transition: width 0.6s ease-in-out;
  width: 0;
}

.nav-item-animation:hover:after {
  width: 100%;
}
