<div class="absolute inset-x-0 top flex flex-col items-center justify-between min-h-fit w-full bg-primary pb-8">
  <div class="first:text-bright flex items-center *:px-1 pb-3 flex-wrap justify-center text-center w-3/4">
    <app-ui-typography type='H2'>Emoji Bands </app-ui-typography>
    <app-ui-typography type='H3'>Quiz</app-ui-typography>
    <app-ui-typography type='H2' highlightText="ellipse">.</app-ui-typography>
  </div>
  <app-ui-typography type="P1" class="text-bright w-3/12 pb-5 text-center">Can you decipher these emoji clues to answer these music-related questions?</app-ui-typography>
  <app-ui-question-item class="w-1/2" />
  <app-ui-link class="my-10" link="/main">
    <app-ui-button size="md" type="accent" iconState="prev">Go to catalog</app-ui-button>
  </app-ui-link>
</div>